    nav:hover a{
    color: rebeccapurple;
    }
    #yourName{
    font-size: 30px;
    font-weight: bolder;
    background-color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    text-transform: uppercase;
    }
    #heading{
    font-size: 25px;
    font-weight: bolder;
    color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    }
    a img{
    width: 260px;
    height: 200px;    
    }
    #footer {
    border-top-color:rebeccapurple;
    border-top-style: solid;
    border-top-width: 10px;
    padding-top: 25px;
    margin-top: 20px;
    font-size: 10px;
    }
    .projectName{
    background-color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    }
    input[type=submit] {
        background-color: rebeccapurple;
        border: none;
        color: white;
      }
    #myPic {
        filter: drop-shadow(8px 8px 10px rebeccapurple);
    }
img:hover {
    opacity: .50;
}
