    nav {
        filter: drop-shadow(8px 8px 10px rebeccapurple);
    }
    nav a:hover {
        color: rebeccapurple;
        font-family: 'Fontdiner Swanky';    
    }
    #yourName{
    font-size: 30px;
    font-weight: bolder;
    background-color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    text-transform: uppercase;
    }
    #heading{
    font-size: 25px;
    font-weight: bolder;
    color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    }
    a img{
    width: 249px;
    height: 188px;
    filter: blur(3px)    
    }
    #footer {
    border-top-color:rebeccapurple;
    border-top-style: solid;
    border-top-width: 10px;
    padding-top: 25px;
    margin-top: 20px;
    font-size: 10px;
    }
    .projectName {
    background-color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    margin-left: 9px;
    width: 100%;
    }
    .gitLink {
        color: gray;
    }
    input[type=submit] {
        background-color: rebeccapurple;
        border: none;
        color: white;
      }
    #myPic img{
        filter: drop-shadow(8px 8px 10px rebeccapurple);
        width: 230px;
        height: auto;
        border-radius: 50px;
    }
    img:hover {
    filter: blur(0);
    }
    .gitLink:hover {
        font-family: 'Fontdiner Swanky';
        color: rebeccapurple;
    }
